body{
    background-image:url("../images/login.jpg");
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
}
.erro{
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    margin-top: 50px;
    margin-right: 50px;
}