input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.grid{
    display:grid;
    place-items: end;
}
.grid2{
    display:grid;
    place-items: center;
}
.table-responsive{
    height: 70vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#codigoCliente{
    border:#ddd solid 1px;
    float:left;
    padding:5px 20px 5px 5px;
}
 #lupa{
    float:left;
    margin:3px 0px 0px -20px;
    margin-top: 0.3rem;
}
 #lupa:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002";
}