body{
    overflow-x: hidden;
}
@media only screen and (max-width: 1225px){
    .chart-container-donut{
        margin-bottom: 220px;
    }
    /* centralizar na col */
}
@media only screen and (max-width: 733px){
    .navbar{
        width:46rem;
    }
}
@media only screen and (max-width: 1225px){
    /* centralizar gráficos */
    .centro{
        
    }
}
@media only screen and (max-width: 600px){
    /* aumentar gráficos */
}