input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.table-responsive{
    height: 70vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.salvarCel{
    display:none;
}
@media only screen and (max-width: 991px){
    .SalvarMic{
        display:none
    }
    .salvarCel{
        display:unset;
    }
}
.responsivo{
    display: block;
    width: 100%;
    overflow-x: auto;
}
#codigoVenda{
    border:#ddd solid 1px;
    float:left;
    padding:5px 20px 5px 5px;
 }
 #lupa{
    float:left;
    margin:3px 0px 0px -20px;
    margin-bottom: 0.5rem;
 }
 #lupa:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002";
 }
 @media only screen and (max-width: 767px){
    #codigoVenda{
        margin-top: 0.5rem !important;
    }
 }